<?xml version="1.0"?>
<ruleset name="project-default">
	<description>A custom set of code standard rules to check for tests.</description>

	<!-- Only check the PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Check all files in this directory and the directories below it. -->
	<file>tests/</file>

	<exclude-pattern>*/phpunit.xml*</exclude-pattern>

	<!-- Third-party code -->
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<!-- For CI, don't fail on warnings -->
	<config name="ignore_warnings_on_exit" value="1"/>

	<config name="testVersion" value="7.4-"/>

	<!-- Enforce PSR12 standards -->
	<rule ref="PSR12" />
</ruleset>
